.time-card {
  align-content: right;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: transparent;
}

.time-card-time {
  text-align: right;
  font-size: 94px;
  color: white;
  margin: 0;
}

.time-card-date {
  text-align: right;
  font-size: 28px;
  color: white;
}
